.head{
    display: flex;
    padding: 0px;
    border: 1px solid #F5F5F5;
    width: 82%;
    margin-left: 7%;
    border-radius: 5px;
    padding: 8px 8px 0 8px;
    margin-bottom: 0px;
}
.text{
    padding-top: 0.5%;
    margin-left: 1%;
}
.text :nth-child(4){
    margin-top: 4%;
}
.text>h6{
    font-family: var(--FontsFree-Net-SFProText-Regular);
    font-size: 12px;
    font-weight: 700;
    color: #4B4B4B;
    margin-bottom: 2%;
}
span{
    font-weight: 500;
    color: #6E6E6E;
}
.text>h4{
    font-family: var(--FontsFree-Net-SFProDisplay-Heavy-1);
    font-size: 22px;
    font-weight: 900;
    color: #2C2C2C;
    margin-bottom: 2%;
}
.text>p{
    font-family: var(--FontsFree-Net-SFProText-Regular);
    font-size: 14px;
    font-weight: 400;
    color: #6E6E6E;
    line-height: 21px;
}
.text>h5{
    font-family: var(--FontsFree-Net-SFProText-Regular);
    font-size: 12px;
    font-weight: 500;
    color: #6E6E6E;
    margin-top: 6%;
}
.text>button{
    font-family: var(--FontsFree-Net-SFProText-Regular);
    margin-left: 85%;
    font-size: 12px;
    font-weight: 700;
    color: #1473E6;
    background-color: white;
    border: none;
    position: relative;
    bottom: 6%;  
}
