* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: 'FontsFree-Net-SFProText-Regular';
    src: url("./Assets/sfproFonts/FontsFree-Net-SFProText-Regular.ttf");
  }
  @font-face {
    font-family: 'FontsFree-Net-SFProDisplay-Heavy-1';
    src: url("./Assets/sfproFonts/FontsFree-Net-SFProDisplay-Heavy-1.ttf");
  }

  :root {
    --FontsFree-Net-SFProText-Regular: FontsFree-Net-SFProText-Regular;
    --FontsFree-Net-SFProDisplay-Heavy-1: FontsFree-Net-SFProDisplay-Heavy-1;
  }
  
